$radius:25px;
:host{
    display: flex;
    width: clamp(18ch,70%,50ch);
    border-radius: $radius;
    border: 3px solid var(--text-color);
    *{
        border: none;
        background: none;
        color: var(--text-color);
    }
    input{
        width: 85%;
        border-inline-end: 3px solid var(--text-color);
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        outline: none;
    }
    button{
        
        width: 15%;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        cursor: pointer;
        &:hover{
          filter: brightness(1.2)  drop-shadow(0 0 1px var(--text-color));
        }
    }
}

